[submodule "chocolatey/repo"]
	path = chocolatey/repo
	url = https://github.com/chocolatey/chocolatey.git
[submodule "Pester/repo"]
	path = Pester/repo
	url = https://github.com/scottmuc/Pester
[submodule "posh-git/repo"]
	path = posh-git/repo
	url = https://github.com/dahlbyk/posh-git.git
[submodule "nuget/repo"]
	path = nuget/repo
	url = https://git01.codeplex.com/nuget
[submodule "psget/repo"]
	path = psget/repo
	url = git://github.com/psget/psget.git
[submodule "dropkick/repo"]
	path = dropkick/repo
	url = git://github.com/chucknorris/dropkick.git
[submodule "roundhouse/repo"]
	path = roundhouse/repo
	url = git://github.com/chucknorris/roundhouse.git
[submodule "uppercut/repo"]
	path = uppercut/repo
	url = git://github.com/chucknorris/uppercut.git
