[submodule "chocolatey/repo"]
	path = chocolatey/repo
	url = https://github.com/chocolatey/chocolatey.git
[submodule "Pester/repo"]
	path = Pester/repo
	url = https://github.com/scottmuc/Pester
[submodule "posh-git/repo"]
	path = posh-git/repo
	url = https://github.com/dahlbyk/posh-git.git
[submodule "nuget/repo"]
	path = nuget/repo
	url = https://git01.codeplex.com/nuget
